body {
    margin: 0;
    background-color: #fff6ef;
    font-family: "Inter", sans-serif;
}

/* Estilos navbar globales */
nav {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 216, 171, 0.8);
    color: #2b1c15;
    display: flex;
    align-items: center;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #2b1c15;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.25s ease;
}

nav a:hover {
    color: #c05c3a;
    letter-spacing: 1px;
}

nav a.activo {
    border-bottom: 2px solid #c05c3a;
    padding-bottom: 3px;
}

.tabs {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

.logo {
    height: 90%;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
}

/* Estilos hero */
.hero {
    height: 700px;
    background: url(./assets/img/churros_bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.hero p {
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 25px;;
    border-radius: 50px;
    background: #c05c3a;
    color: #fff;
    text-decoration: none;
    transition: all 0.25s ease;
}


.btn:hover {
    background: #a24d31;
    transform: scale(1.05);
}